<% include header %>

    <div class="w3-container cart-box">
    <% if(cart && cart.items.length > 0) { %>
    <form action="/cart/update" method="post">
        <table class="cart-table table table-bordered table-striped">
            <tbody>
                <% cart.items.forEach(function(product) { %>
                <tr>
                    <td>
                        <a href="/cart/remove/<%= product.id%>/<%= nonce %>">
                            <i class="fa fa-remove text-danger"></i>
                        </a>
                    </td>
                    <td class="product-thumb">
                        <img src="/public/images/products/<%= product.image %>" alt="" class="img-thumbnail img-responsive">
                    </td>
                    <td><%= product.title %></td>
                    <td>

                        <%= product.formattedPrice %>
                    </td>
                    <td>
                        <span class="qty-wrap">
                            <a href="/cart/sub/<%=product.id%>">
                                <span class="qty-minus">
                                    <i class="fa fa-minus"></i>
                                </span>
                            </a>
                            <input type="hidden" name="product_id[]" value="<%= product.id%>">
                           <!--  <input type="text" name="qty" class="qty" value="1"> -->
                            <input tagid="<%= product.id%>" type="text" class="qty" name="qty[]" value="<%= product.qty %>">
                            <a href="/cart/add/<%=product.id%>">
                                <span class="qty-plus">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </a>    
                        </span> 
                        
                        
                        
                    </td>
                </tr>

                <% }); %>
                <tr class="info">
                    <td colspan="5" class="text-right">
                        Total:

                        <%= cart.formattedTotals %>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix cart-footer">
            <input type="hidden" name="nonce" value="<%= nonce %>">
            <!-- <button type="submit" class="btn btn-default pull-left"><i class="fa fa-refresh"></i> Modificar</button> -->
            <a href="/cart/empty/<%= nonce %>" class="btn btn-default pull-left"><i class="fa fa-remove"></i> Vaciar carrito</a>
            <a href="/checkout" class="btn btn-default pull-right">Terminar compra <i class="fa fa-angle-right"></i></a>
        </div>
    </form>
    <% } else { %>
    <p class="alert alert-info">Sorry, no products in your cart.</p>
    <% } %>
</div>
<% include footer %>